<!--サイドメニュー1(画像と配達日)-->
<div class="arazin-side-menu1">
  <%= image_tag 'point_bonus',class:"side_image1",alt: "side_image1"%>
  <%= image_tag 'web_special',class:"side_image2",alt: "side_image2"%>
  <a href="#">
    <p class="araraku">ジンの翌日配達「ジン楽」</p>
  </a>
  
  <div class="haitatubi">
    <p class="saitan">最短</p>
    <!--明日の日付を出力-->
    <div id="view_today"></div>
    <!--明日の曜日を出力-->
    <div id="view_youbi"></div>
  </div>
  
  <script>
    document.getElementById("view_today").innerHTML = getToday(0);
    document.getElementById("view_youbi").innerHTML = getYoubi();
  </script>
  
</div>
<!--サイドメニュー1(画像と配達日)終わり-->

<!--サイドメニュー2(ジャンル)開始-->
<div class="arazin-side-menu2 ">
  <div class="genre-menu clearfix">
    <p class="genre">ジャンル</p>
  </div>
  
  <div class="genre-contens">
    <%= link_to item_home_electric_path do %>
      <p><i class="fas fa-desktop"></i>家電</p>
    <% end %>
    <%= link_to (item_vehicle_path) do %>
      <p><i class="fas fa-motorcycle"></i>乗り物</p>
    <% end %>
    <%= link_to (item_food_path) do %>
      <p><i class="fas fa-utensils"></i>食品</p>
    <% end %>
    <%= link_to '家電',{:controller=>"items",:action=>"item_home_electric",:q=>{:category_eq=>'食品'}}%>
  </div>
</div>
