<!--トップサブメニュー-->
<div class="arazin-top-sub">
  <div class="row">
    <div class="col-lg-7 col-sm-12">
      <% if logged_in? %>
        <p class="greeding-name"><%=current_user.name%>さん　いらっしゃいませ</p>
      <% else %>
        <p class="greeding1">ようこそジンへ</p>
        <p class="greeding2">会員登録でジンマジックポイントが貯まる</p>
      <% end %>
    </div>
    
    <div class="col-lg-5 col-sm-12">
      <!--current_userがnilではないとき-->
      <% if logged_in? %>
        <% if current_user.admin?%>
          <div class="login">
            <%= link_to "ユーザー一覧", users_path,class:"user-index" %>
            <%= link_to "管理者情報", current_user,class:"user-info" %>
            <%= link_to (logout_path), :method => :delete do %>
              <span class ="arazin-logout">
                <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-sign-in-alt"></i>ログアウト</button>
              </span>
            <% end %>
          </div>
        <% else %>
          <div class="login">
            <%= link_to "会員情報", current_user,class:"user-info" %>
            <%= link_to (logout_path), :method => :delete do %>
              <span class ="arazin-logout">
                <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-sign-in-alt"></i>ログアウト</button>
              </span>
            <% end %>
          </div>  
        <% end %>
      <% else %>
        <%= link_to(signup_path)  do %>
         <p class="arazin-sighup"><i class="fas fa-user"></i>ジン会員登録（無料）</p>
        <% end %>
        
        <%= link_to (login_path) do %>
          <div class ="arazin-login">
            <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-sign-in-alt"></i>ログイン</button>
          </div>
        <% end %>
        
      <% end %>
    </div>
  </div>
</div>