<!--サイドメニュー1(画像と配達日)-->
<div class="arazin-side-menu1">
  <%= image_tag 'point_bonus',class:"side_image1",alt: "side_image1"%>
  <%= image_tag 'web_special',class:"side_image2",alt: "side_image2"%>

  <p class="araraku">ジンの翌日配達「ジン楽」</p>
  
  <div class="haitatubi">
    <p class="saitan">最短</p>
    <!--明日の日付を出力-->
    <div id="view_today"></div>
    <!--明日の曜日を出力-->
    <div id="view_youbi"></div>
  </div>
  
  <script>
    document.getElementById("view_today").innerHTML = getToday(0);
    document.getElementById("view_youbi").innerHTML = getYoubi();
  </script>
  
</div>
<!--サイドメニュー1(画像と配達日)終わり-->

<!--サイドメニュー2(ジャンル)開始-->
<div class="arazin-side-menu2 ">
  <div class="genre-menu clearfix">
    <p class="genre">カテゴリー</p>
  </div>
  
  <div class="genre-contens">
    <p><%= link_to '家電',{:controller=>"items",:action=>"index",:q=>{:category_eq=>'家電'}}%></p>
    <p><%= link_to '乗り物',{:controller=>"items",:action=>"index",:q=>{:category_eq=>'乗り物'}}%></p>
    <p><%= link_to '食品',{:controller=>"items",:action=>"index",:q=>{:category_eq=>'食品'}}%></p>
  </div>
  
  <div class="genre-menu clearfix">
    <p class="genre">マジックDEAL</p>
  </div>
  
  <div class="genre-contens">
    <p><%= link_to '40%ポイントバック',{:controller=>"items",:action=>"index",:q=>{:spoint_eq=>'40'}}%></p>
    <p><%= link_to '30%ポイントバック',{:controller=>"items",:action=>"index",:q=>{:spoint_eq=>'30'}}%></p>
  </div>
</div>
