<% provide(:title, "Home") %>

  <head>
   <%= render 'arazin-head' %>
  </head>
  <body class="body-arazin">
    
    <!--ナビバー-->
    <%= render 'arazin-navbar' %>
  
    <!--トップメニュー-->
    <%= render 'arazin-top-menu'%>
    
    <!--トップサブメニュー-->
    <%= render 'arazin-top-sub'%>
    
    <!--カルーセル-->
    <%= render 'arazin-carousel'%>
    
    <!--サイドメニュー-->
    <aside class="arazin-side-menu">
      <main class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            
            <!--サイドメニュー1(画像と配達日)-->
            <%= render 'arazin-side-menu1'%>
            
            <!--サイドメニュー2(ジャンル)開始-->
            <div class="arazin-side-menu2">
              <div class="genre-menu">
                <p class="genre">ジャンル</p>
                  <a href="#">
                    <p class="itiran">一覧</p>
                  </a>
              </div>
              
              <div class="genre-contents">
                <p>家電</p>
                <p>PC・スマホ</p>
                <p>食品</p>
              </div>
              
            </div>
          </div>
        </div>
      </main>
    </aside>
     
    <!--fontawesomeを利用するための読み込み-->
    <script src="https://kit.fontawesome.com/31168af8af.js"></script>
  </body>
    
</html>