<% provide(:title, "Home") %>

    <!--ナビバー-->
    <%= render 'static_pages/arazin-navbar' %>
  
    <!--トップメニュー-->
    <%= render 'static_pages/arazin-top-menu'%>
    
    <!--トップサブメニュー-->
    <%= render 'static_pages/arazin-top-sub'%>
    
    <!--カルーセル-->
    <%= render 'static_pages/arazin-carousel'%>
    
    <div class="static_pages/razin-main">
      
        <div class="row">
          <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <aside class="side">
               <!--サイドメニュー-->
              <%= render 'static_pages/arazin-side-menu'%>
            </aside>
          </div>
          
          <div class="col-lg-10 col-md-9 col-sm-12">
            <main class="main">
              <div class="slick1">
                <%= image_tag 'final_sale',class:"slick1-image1",alt: "advertisement"%>
                <%= image_tag '70',class:"slick1-image1",alt: "advertisement"%>
                <%= image_tag 'clearlance',class:"slick1-image1",alt: "advertisement"%>
                <%= image_tag 'special_present',class:"slick1-image1",alt: "advertisement"%>
                <%= image_tag 'winter_sale',class:"slick1-image1",alt: "advertisement"%>
                <% 6.times do %>
                  <img class="slick1-image1" src="https://placehold.it/300x250" alt="advertisement">
                <% end %>
              </div>
              
              <p class="slick-label">ジンマジックDEAL</p>
              <div class="slick1">
                
                <% i=1 %>
                <% @items.each do |item| %>
                  <% if item.spoint == 40 && i<=8 %>
                    <%i +=1%>
                    <%= link_to item ,class:"slick1-image1" do %>
                      <p class="slick-spoint"><%=item.spoint%>%ポイントバック</p>
                      <%= image_tag (item.picture.url),class:"slick-image"%>
                      <p class="slick-name"><%=item.name%></p>
                      <p class="slick-price"><%=item.price%>円</p>
                    <% end %>
                  <% end %>
                <% end %>
                
                
                
                
              </div>
              
               <p class="slick-label">新着商品</p>
               <div class="slick1">
                  <% @items.first(10).each do |item| %>
                    <%= link_to item ,class:"slick1-image1" do %>
                      <%= image_tag (item.picture.url),class:"slick-image"%>
                      <p class="slick-name"><%=item.name%></p>
                      <p class="slick-price"><%=item.price%>円</p>
                    <% end %>
                    
                  <% end %>
              </div>
            </main>
          </div>
        </div>
      
    </div>
