<% provide(:title, "Home") %>

    <!--ナビバー-->
    <%= render 'arazin-navbar' %>
  
    <!--トップメニュー-->
    <%= render 'arazin-top-menu'%>
    
    <!--トップサブメニュー-->
    <%= render 'arazin-top-sub'%>
    
    <!--カルーセル-->
    <%= render 'arazin-carousel'%>
    
    <div class="arazin-main">
      
        <div class="row">
          <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <aside class="side">
               <!--サイドメニュー-->
              <%= render 'arazin-side-menu'%>
            </aside>
          </div>
          
          <div class="col-lg-10 col-md-9 col-sm-12">
            <main class="main">
              <div class="slick1">
                <img class="slick1-image1" src="https://placehold.it/314x314" alt="test">
                <img class="slick1-image1" src="https://placehold.it/314x314" alt="test">
                <img class="slick1-image1" src="https://placehold.it/314x314" alt="test">
                <img class="slick1-image1" src="https://placehold.it/314x314" alt="test">
                <img class="slick1-image1" src="https://placehold.it/314x314" alt="test">
                <img class="slick1-image1" src="https://placehold.it/314x314" alt="test">
                <img class="slick1-image1" src="https://placehold.it/314x314" alt="test">
                <img class="slick1-image1" src="https://placehold.it/314x314" alt="test">
                <img class="slick1-image1" src="https://placehold.it/314x314" alt="test">
                <img class="slick1-image1" src="https://placehold.it/314x314" alt="test">
              </div>
            </main>
          </div>
        </div>
      
    </div>
