<% provide(:title, 'Boughts') %>
<%= render 'static_pages/arazin-top-menu'%>
<div class="row">
  <aside class="col-md-3">
    <section class="side_info">
      <%= render 'static_pages/arazin-side-menu'%>
    </section>
  </aside>
  
  <div class="col-md-9">
    <div class="user-put-up">
      <!--アイテムがあれば-->
      <% if @boughts.any?%>
        <!--アイテム数-->
        <p class="put-up-count">購入した商品 (<%= @boughts.count %>)</p>
        <ol class="items">
          <span class="item-pagination"><%= paginate @boughts %></span>

          <% @boughts.each do |boughts| %>
            <div class="item_index ">
              <li id="boughts-<%= boughts.id %>">
                <div class="row">
                  <div class="col-md-2">
                    <%= image_tag boughts.item.picture.url,class:"item_index_image"%>
                  </div>
                  <div class="col-md-7">
                    <div class="item_index_content">
                      <div class="item_name"><%= link_to boughts.item.name, boughts.item %></div>
                      <div class="item_content"><%=boughts.item.content %></div>
                      <div class="item_user"><%= link_to boughts.item.user.name, boughts.item.user %></div>
                      
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="item_price"><%=boughts.item.price %>円</div>
                    <div class="item_price">数量：<%=boughts.quantity %></div>
                  </div>
                </div>
              </li>
            </div>
          <% end %>
        </ol>
      <% end %>
    </div>
  </div>
</div>