<!--ログイン画面-->
<% provide(:title, "Log in") %>


<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <div class="login-form">
      <p class="kaiinn-login">会員ログイン</p>
      <!--sessionリソースのlogin_pathへpost-->
      <%= form_for(:session, url: login_path) do |f| %>
  
        <p class="login-mail">メールアドレス</p>
        <%= f.email_field :email, class: 'form-control' %>
        <p class="login-general">一般ユーザー：general@arazin.org</p>
        <p>管理者　　　：admin@arazin.org</p>
        
  
        <p class="login-password">パスワード</p>
        <%= f.password_field :password, class: 'form-control' %>
        <p class="login-general">一般ユーザー：2arazinzinG$</p>
        <p>管理者　　　：1arazinzinA$</p>
        
        
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>ログアウトしない限り、ログインを保持する</span>
        <% end %>
  
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      <% end %>
  
      <p>まだ会員登録されていない方　 <%= link_to "新規登録（無料）", signup_path %></p>
    </div>
  </div>
</div>