<!--会員情報の編集-->
<% provide(:title, "Edit user") %>

<div class="col-md-6 ml-auto mr-auto">
  <div class="user-edit-form">
    <p class="kaiinn-sigh-up">会員情報の編集</p>
    <!--@userの属性情報から引き出す-->
    <!--データベースに既存のユーザーがあれば、リクエストはPATCHになる-->
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <p class="sigh-up-label">ユーザーネーム</p>
      <%= f.text_field :name, class: 'form-control' %>

      <p class="sigh-up-label">メールアドレス</p>
      <%= f.email_field :email, class: 'form-control' %>

      <p class="sigh-up-label">パスワード</p>
      <p class="sigh-up-password"><8文字以上、大文字と小文字,数字と特殊文字をそれぞれ1文字以上></p>
      <%= f.password_field :password, class: 'form-control' %>

      <p class="sigh-up-label">パスワード確認用</p>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "変更", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <!--rel = "noopener"を付けるとtarget="_blank"したときのフィッシングを防げる-->
      <a href="http://gravatar.com/emails" target="_blank" rel = "noopener">画像の変更</a>
    </div>
  </div>
</div>
