<% provide(:title, 'All users') %>
<h1>ユーザー一覧</h1>

<div class="paginate"><%= paginate @users %></div>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
      
      <!--管理者権限がある場合かつ、現在のユーザーではない（管理者自身は削除リンクをださない）-->
      <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "確認：削除してもよろしいですか？" } %>
  <% end %>
    </li>
  <% end %>
</ul>

<div class="paginate"><%= paginate @users %></div>