<% provide(:title, 'Sign up') %>

<div class="row justify-content-center">
  <div class="col-md-6 ">
    <div class="singup">
      <h2>会員登録</h2>
      <!--/signup に対して送信する-->
      <%= form_for(@user, url: signup_path) do |f| %>
        <!--エラーメッセージ-->
        <%= render 'shared/error_messages', object: f.object %>
        
        <p>ユーザーネーム</p>
        <%= f.text_field :name, class: 'form-control' %>
  
        <p>メールアドレス</p>
        <%= f.email_field :email, class: 'form-control' %>
  
        <p>パスワード</p>
        <p><8文字以上、大文字と小文字と数字と特殊文字をそれぞれ1文字以上></p>
        <%= f.password_field :password, class: 'form-control' %>
  
        <p>パスワード確認用</p>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "登録", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

