<!--プロフィール（会員情報）-->
<% provide(:title, @user.name) %>
<%= render 'static_pages/arazin-top-menu'%>
<div class="row">
  <aside class="col-md-4">
    <div class="user_info">
      
        <%= gravatar_for @user %>
        <p><%= @user.name %></p>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <% if current_user?(@user) %>
          <div>
            <p><%= link_to "ユーザー設定の変更", edit_user_path(current_user) %></p>
          </div>
          <div>
            <p> <%= link_to "商品出品登録",new_item_path %></p>
          </div>
          
        <% end %>

      
    </div>
  </aside>
  <div class="col-md-8">
    <div class="user-put-up">
      <%= render 'follow_form' if logged_in? %>
      <!--アイテムがあれば-->
      <% if @user.items.any?%>
        <!--アイテム数-->
        <p class="put-up-count">出品している商品 (<%= @user.items.count %>)</p>
        <ol class="items">
          <%= render "items/items" %>
        </ol>
      <% end %>
    </div>
  </div>
</div>