<% provide(:title, "Cart_pay") %>

<div class="row cart-top">
  <div class="col-lg-1 col-sm-2">
    <div class="arazin-title">
      <h1><%= link_to "Zin", root_path %></h1>
    </div>
  </div>
  
  <!--カラムのセンター寄せ-->
  <div class="col-lg-6 col-sm-9 ml-auto mr-auto ">
    <div class="cart-process">
      <p class="cart-cart">買い物かご</p>
      <p class="cart-bar">ー</p>
      <p class="cart-login">ログイン</p>
      <p class="cart-bar">ー</p>
      <p class="cart-pay-current">お支払い方法</p>
      <p class="cart-bar">ー</p>
      <p class="cart-confirm">お支払い完了</p>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <div class="login-form">

      <p class="pay-view">購入画面</p>
      <div class="row">
        
        <div class="col-md-6">
          <%= image_tag @citem.item.picture.url,class:"pay-image"%>
        </div>
        
        <div class="col-md-5 ">
          <p>商品名：<%=@citem.item.name%></p>
          <p>金額 (単品):<%=@citem.item.price%>円</p>
          <p>個数：<%=@citem.quantity%></p>
          <p>金額 (合計)：<%=(@citem.item.price)*(@citem.quantity)%>円</p>
          <p>獲得ポイント<%=((@citem.item.price)*(@citem.quantity)/100)+((@citem.item.spoint)*0.01*(@citem.item.price)*(@citem.quantity)).round%>ポイント</p>
          <p>id：<%=@citem.item_id%></p>
          <%= form_with local: true, url: pay_view_path do |form| %>
          
            <%= form.hidden_field :amount, { value: (@citem.item.price)*(@citem.quantity)} %>
            <%= form.hidden_field :quantity, { value: @citem.quantity} %>
            <%= form.hidden_field :points, { value: ((@citem.item.price)*(@citem.quantity)/100)+((@citem.item.spoint)*0.01*(@citem.item.price)*(@citem.quantity)).round} %>
            <script
              type="text/javascript"
              src="https://checkout.pay.jp"
              class="payjp-button"
              data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>">
            </script>
            
          <% end %>
        </div>
        
      </div>
      
    </div>
    <span>カード番号：4242424242424242</span>
    <p>有効期限：未来の日付</p>
    <p>cvc番号・名前：自由</p>
  </div>
</div>