<% provide(:title, "Cart_pay") %>

<div class="row cart-top">
  <div class="col-lg-1 col-sm-2">
    <div class="arazin-title">
      <h1><%= link_to "Zin", root_path %></h1>
    </div>
  </div>
  
  <!--カラムのセンター寄せ-->
  <div class="col-lg-6 col-sm-9 ml-auto mr-auto ">
    <div class="cart-process">
      <p class="cart-cart">買い物かご</p>
      <p class="cart-bar">ー</p>
      <p class="cart-login">ログイン</p>
      <p class="cart-bar">ー</p>
      <p class="cart-pay-current">お支払い方法</p>
      <p class="cart-bar">ー</p>
      <p class="cart-confirm">お支払い完了</p>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <div class="login-form">

      <p class="pay-view">購入画面</p>
      <div class="row">
        
        <div class="col-md-6">
          <%= image_tag @citem.item.picture.url,class:"pay-image"%>
        </div>
        
        <div class="col-md-5 ">
          <p>商品名：<%=@citem.item.name%></p>
          <p>金額 (単品):<%=@citem.item.price%>円</p>
          <p>個数：<%=@citem.quantity%></p>
          <p>金額 (合計)：<%=(@citem.item.price)*(@citem.quantity)%>円</p>
          <p>獲得ポイント：<%=((@citem.item.price)*(@citem.quantity)/100)+((@citem.item.spoint)*0.01*(@citem.item.price)*(@citem.quantity)).round%>pt</p>
        </div>
        
        <%=form_tag(local: true, url: pay_view_path, id: "charge-form",method: "POST") do %>
          <p class="sigh-up-label">カード番号</p>
          <input type="text" class="number" id: "payment_card_no",name="number" maxlength="16" placeholder="カード番号">
          <p class="card-memo">テスト　 ：4242424242424242</p>
          
          <p class="sigh-up-label">CVC</p>
          <input type="text" class="cvc" id: "payment_card_security_code" name="cvc" maxlength="3" placeholder="CVC">

          <p class="card-memo">テスト　：111</p>
          
          <p class="sigh-up-label">有効期限</p>
          <input type="text" class="exp_month" id: "payment_card_expire_mm" name="exp_month" maxlength="2" placeholder="月">
          <p class="card-memo">テスト　：03</p>
          
          <input type="text" class="exp_year" id: "payment_card_expire_yy" name="exp_year" maxlength="4" placeholder="年">
          <p class="card-memo">テスト　：25</p>
          
          <input type="hidden" class="payjp-token" name="payjpToken" value="">
          <%= hidden_field_tag :amount, (@citem.item.price)*(@citem.quantity) %>
          <%= hidden_field_tag :quantity,@citem.quantity %>
          <%= hidden_field_tag :points, ((@citem.item.price)*(@citem.quantity)/100)+((@citem.item.spoint)*0.01*(@citem.item.price)*(@citem.quantity)).round%>
          
          <button type="submit">送信</button>
        <% end %>
      </div>
      
    </div>
  </div>
</div>