<% provide(:title, "Cart") %>

<div class="row cart-top">
  <div class="col-lg-1 col-sm-2">
    <div class="arazin-title">
      <h1><%= link_to "Zin", root_path %></h1>
    </div>
  </div>
  
  <!--カラムのセンター寄せ-->
  <div class="col-lg-6 col-sm-9 ml-auto mr-auto ">
    <div class="cart-process">
      <p class="cart-cart">買い物かご</p>
      <p class="cart-bar">ー</p>
      <p class="cart-login">ログイン</p>
      <p class="cart-bar">ー</p>
      <p class="cart-pay">お支払いと配送方法</p>
      <p class="cart-bar">ー</p>
      <p class="cart-confirm">注文確認</p>
    </div>
  </div>
</div>

<div class="cart-comment">
  <h5>買い物かごの商品</h2>
</div>

<% @citems.each do |citem| %>
  <div class="row cart-content">
    <div class="col-lg-2 col-sm-4">
      <div class="cart-left">
        <p class="cart-user"><%=citem.item.user.name%></p>
      </div>
    </div>
    
    <div class="col-lg-6 col-sm-8">
      <div class="cart-middle">
        <%= image_tag citem.item.picture.url,class:"cart_image"%>
        <p><%=citem.item.name%></p>
        <p><%=citem.item.price%>円</p>
        <p class="cart-middle-price">通常6～10日以内に発送予定</p>
      </div>
  </div>
  
  <div class="col-lg-3 col-sm-8 ml-auto mr-auto">
    <div class="cart-right">
      
      <a href="#" class="cart-payment">
      <div class="cart-button" >
          <button type="button" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>ご購入手続き</button>
        </div>
      </a>
    
    <p class="cart-sum">小計</p>
    <p class="cart-right-price"><%=citem.item.price%>円</p>
    
    <div class="">
      <p>獲得予定ポイント</p>
      <p class="cart-pointget"><%=(citem.item.price)/100%>ポイント</p>
    </div>
  </div>
  
<%end%>