<% provide(:title, "Cart") %>

<div class="row cart-top">
  <div class="col-lg-1 col-sm-2">
    <div class="arazin-title">
      <h1><%= link_to "Zin", root_path %></h1>
    </div>
  </div>
  
  <!--カラムのセンター寄せ-->
  <div class="col-lg-6 col-sm-9 ml-auto mr-auto ">
    <div class="cart-process">
      <p class="cart-cart-current">買い物かご</p>
      <p class="cart-bar">ー</p>
      <p class="cart-login">ログイン</p>
      <p class="cart-bar">ー</p>
      <p class="cart-pay">お支払い方法</p>
      <p class="cart-bar">ー</p>
      <p class="cart-confirm">注文確認</p>
    </div>
  </div>
</div>

<div class="cart-comment">
  <h5>買い物かごの商品</h2>
</div>

<ol>
  <% @citems.each do |citem| %>
    <div class="row cart-content">
      <div class="col-lg-2 col-sm-4">
        <div class="cart-left">
          <p><%= link_to citem.item.user.name, citem.item.user %></p>
        </div>
      </div>
      
      <div class="col-lg-6 col-sm-8">
        <div class="cart-middle">
          <%= image_tag citem.item.picture.url,class:"cart_image"%>
          <p><%=citem.item.name%></p>
          <div class="cart-middle-charge">
            <p class="cart-middle-price"><%=citem.item.price%>円</p>
            <p class="cart-middle-souryou">送料別</p>
          </div>
          <div class="cart-middle-quantity">
            <%= form_with(url:update_item_path, method: :post, class: "form-quantity",local: true) do |f| %>
          <div class="row">
            <div class="col-md-6">
              <%= image_tag citem.item.picture.url,class:"cart_image"%>
            </div>
            
            <div class="col-md-6">
              <p><%= link_to citem.item.name, citem.item %></p>
              <div class="cart-middle-charge">
                <p class="cart-middle-price"><%=citem.item.price%>円</p>
                <p class="cart-middle-souryou　clearfix">送料別</p>
              </div>
              <div class="cart-middle-quantity">
                <%= form_with(url:update_item_path, method: :post, class: "form-quantity",local: true) do |f| %>
                
                  <%= f.hidden_field :item_id, { value: citem.item_id} %>
    
                  <%= f.label :quantity,'数量' %>
                  
                  <!--selectのクラス指定は{}をはさむ必要がある-->
                  <%= f.select :quantity ,[1,2,3,4,5,6,7,8,9,10],{},class: "cart-quantity"%>
                  <%= f.submit "個数を変更する", class: "btn-quantity" %>
                
                <% end %>
              </div>
              
              <p class>通常6～10日以内に発送予定</p>
              
              <%= form_with(url:delete_item_path, method: :delete, class: "form-delete",local: true) do |f| %>
                
                  <%= f.hidden_field :item_id, { value: citem.item_id} %>
                  <%= f.submit "カートから削除する", class: "btn-delete" %>
                
                <% end %>
            </div>
            
          </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-sm-8 ml-auto mr-auto">
        <div class="cart-right">

          <%= form_with(url:cart_login_path, method: :post, class: "cart-payment",local: true) do |f| %>
            <%= f.hidden_field :item_id, { value: citem.item_id} %>
            <%= f.submit "ご購入手続き", class: "btn-pay" %>
          <% end %>
          
          <p class="cart-sum">小計</p>
          <p id="cart-right-price"><%=(citem.item.price)*(citem.quantity)%>円</p>
        
          <div class="cart-point">
            <p class="cart-point-plan">獲得予定ポイント</p>
            <p class="cart-pointget"><%=(citem.item.price)*(citem.quantity)/100%>ポイント</p>
            <p class="cart-point-en">(円相当)</p>
            <p class="cart-point-comment1">次ページで会員登録（無料）をした場合、このポイントを獲得できます</p>
            <p class="cart-point-comment2"><i class="fas fa-exclamation-circle"></i>一部の倍率・ポイントが反映されていない場合があります</p>
            <p class="cart-point-comment3"><i class="fas fa-exclamation-circle"></i>獲得上限にご注意ください。実際の獲得ポイントと異なる場合があります</p>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</ol>