<ol class="items">
  <span class="search-count">該当件数<%= @items.total_count %>件</span>
  <span class="search-pagination"><%= paginate @items %></span>
  <p class="search-sort"><%= sort_link(@q, :price, "価格順") %></p>
  <% @items.each do |item| %>
    <div class="item_index ">
      <li id="item-<%= item.id %>">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag item.picture.url,class:"item_index_image"%>
          </div>
          <div class="col-md-7">
            <div class="item_index_content">
              <div class="item_name"><%= link_to item.name, item %></div>
              <div class="item_content"><%=item.content %></div>
              <div class="item_user"><%= link_to item.user.name, item.user %></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="item_price"><%=item.price %>円</div>
          </div>
        </div>
      </li>
    </div>
  <% end %>
</ol>