<% provide(:title, 'Item create') %>

<div class="row justify-content-center">
  <div class="col-md-6 ">
    <div class="itemcreate">
      <h2>商品登録</h2>
      <!--/itemcreate に対してpostする createメソッドへ-->
      <%= form_for (@item) do |f| %>
        <!--エラーメッセージ-->
        <%= render 'shared/error_messages', object: f.object%>
        
        <p>商品名</p>
        <%= f.text_field :name, class: 'form-control' %>
  
        <p>カテゴリ</p>
        <%= f.select :category, [ ["家電"], ["乗り物"], ["食品"] ] , prompt: "カテゴリを選択してください" %>
  
        <p>価格</p>
        <%= f.number_field :price, class: 'form-control' %>
        
        <p>内容</p>
        <%= f.text_field :content, class: 'form-control' %>
        
        <p>画像</p>
        <p><ファイルサイズは5MB以内。ファイル形式はjpg・jpeg・gif・png・jfifのみ可能です></p>
         <span class="picture">
           <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,image/jfif' %>
        </span>

        <%= f.submit "登録", class: "btn btn-primary" %>
        
       
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>