<%= render 'static_pages/arazin-top-menu'%>

  <div class="row">
    <div class="col-md-5">
      <%= image_tag @item.picture.url,class:"show_image"%>
    </div>
    
    <div class="col-md-4">
      <div class="show_middle"> 
        <p class="show_name"><%=@item.name%></p>
        <p class="show_user"><%= link_to @item.user.name, @item.user %></p>
        
        <p class="show_price">¥<%=@item.price%></p>
        <p class="show_content"><%=@item.content%></p>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="show_right"> 
        <p class="show_price">¥<%=@item.price%></p>
        <p class="show_haitatubi">通常配送を利用した場合、最短で</p>
        <div id="view_haitatu"></div>
        <p>のお届け予定です</p>
        <p class="show_haitatu_info">通常6～10日以内に発送します</p>
        
        <%= form_with(url:add_item_path, method: :post, local: true) do |f| %>
          <%= f.hidden_field :item_id, { value: @item.id} %>
          <%= f.label :quantity,'数量' %>
          <%= f.select :quantity ,[1,2,3]%>
          <%= f.submit "カートに入れる", class: "btn btn-primary" %>
        <% end %>
      </div>
      
      <script>
        document.getElementById("view_haitatu").innerHTML = getToday();
      </script>
    </div>