<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--full_titleタイトルヘルパーを使用(app/helpers/application_helper.rb)-->
    <title><%= full_title(yield(:title)) %></title>
    
    <!--CSRF攻撃を防ぐためのRailsのメソッド-->
    <%= csrf_meta_tags %>  
    
    <!--スタイルシートをページ内で展開する-->
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <!--Javascriptをページ内で展開する-->
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
 
    <!--IEのバージョンが9未満の場合にのみHTML5 shimを読み込む-->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <%= yield %>
    <!--フラッシュメッセージ-->
    <!--message_typeによってmessageを変える-->
    <% flash.each do |message_type, message| %>
       <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>　
    <% end %>
    <!--デバック情報-->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>